<%= form_for(@api_vendor) do |f| %>
  <% if @api_vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_vendor.errors.count, "error") %> prohibited this api_vendor from being saved:</h2>

      <ul>
      <% @api_vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Client ID" %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :client_secret %><br>
    <%= f.text_field :client_secret %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
