<p id="notice"><%= notice %></p>

<h1>Listing Api Vendors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Client ID</th>
      <th>Client secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_vendors.each do |api_vendor| %>
      <tr>
        <td><%= api_vendor.name %></td>
        <td><%= api_vendor.client_id %></td>
        <td><%= api_vendor.client_secret %></td>
        <td><%= link_to 'Show', api_vendor %></td>
        <td><%= link_to 'Edit', edit_api_vendor_path(api_vendor) %></td>
        <td><%= link_to 'Destroy', api_vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api vendor', new_api_vendor_path %>
