<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @api_vendor.client_id %>
</p>

<p>
  <strong>Client secret:</strong>
  <%= @api_vendor.client_secret %>
</p>

<%= link_to 'Edit', edit_api_vendor_path(@api_vendor) %> |
<%= link_to 'Back', api_vendors_path %>
